body {
    font-family: Verdana;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
}
h1{
    font-variant: all-petite-caps;
    color: red;
}
a:hover {
    border: 3px solid red;
}
.stippeltjesrand {
    border: 1px dotted black;
}