.checked{
    display:inline-block;
    width: 20px;
    height: 20px;
    background-image: url(images/check2.png);
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 25px;
}