*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#wrapper{
    padding: 10px;
}

section{
    width: 50%;
    display: flex;
    border: 1px solid black;
    margin: 10px;

}

p{
    padding: 10px;
}